<div class='analytics-header'><h1 class='animated fadeInLeftBig'>Analytics</h1></div>
  <div class = 'containter'>
    <div class='row'>
      <div class = 'songplay-analytic col-sm-6'>
        <p class='animated fadeInLeftBig'> Number of Song Plays</p>
          <pie class='animated fadeInLeftBig' pie-data="songPlays"></pie>
      </div>
      <div class='albumplay-analyitc col-sm-6'>
        <p class='animated fadeInLeftBig'> Number of Album Plays</p>
        <bar class='animated fadeInLeftBig' bar-data="albumPlays"></bar>
      </div>
    </div>
  </div>

<div class ='container'>
  <div class ='row'>
<table class='table'>
<tr class='col-sm-12' ng-repeat="songPlay in songPlays">
    <td><h3> {{ songPlays.name }} </h3></td>
</tr>
</table>
</div>
</div>