

 .hero-content {
    background-color: #2F1D57;
    padding: 100px 0;
    background: #2F1D57;
    color: white;

    h1 {
      font-size: 70px;
      margin-bottom: 50px;
      font-weight: 300;
    }
  }
 
  .selling-points {
    padding: 100px 0;
    color: white;
  
   .point {

      h5 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        height: 85px;
      }
 
      p {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 768px) {
   
   .responsive-nav {
     a {
      line-height: 45px;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2;
      text-align: center;
 
      &:hover {
        background-color: white;
         color: rgba(123, 70, 163, .9);

      }
    }
   }
  /* Landing Page and Global Styles */

  
    .hero-content {
      h1, h3 {
        text-align: left;
        color: blue;       
      }
    }
    .selling-points {
      padding: 0;
      .point {
        padding: 3em 0.75em;
        h5 {
          height: 2.25em;
        }
        p {
          text-align: center;
          font-size: 1.25em;
        }
      }
    }
    .landing-album-list {
      /* Example class added to style the album covers for mobile */
      .album-cover {
        position: relative;
        display: block;
        margin: 30px auto;
      }
    }
  

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }
}


